.quote-box {
  padding: 30px;
  border: black solid 1px;
}
.quote-box {
  display: flex;
  flex-direction: column;
}
.author-box {
  display: flex;
  justify-content: flex-end;
  background: yellow;
  min-width: fit-content;
  margin-left: 65%;
  padding-right: 20px;
}
.page {
  padding: 20px;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  align-content: center;
  background-color: rgba(137, 43, 226, 0.712);
  padding: 20px;
}
form * {
  padding: 10px;
}
input {
  min-width: 99%;
}
button {
  max-width: fit-content;
  margin-left: auto;
}
