.quote-box {
  padding: 30px;
  border: black solid 1px;
}
.quote-box {
  display: flex;
  flex-direction: column;
}
.author-box {
  display: flex;
  justify-content: flex-end;
  background: yellow;
  margin-left: 75%;
  padding-right: 20px;
}
.page {
  padding: 20px;
}
